<div class="spinner-border text-primary" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>

  <table class="table table-sm table-hover">
    <thead>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Salary</th>
        
    </thead>
    <tbody>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.salary}}</td>            
    </tbody>
  </table>

